<div *ngIf="showMainQuestion"  class="heart-question">
  <h1 class="valentine-title">Is Nour or Fedi better in TFT?</h1>

  <button class="yes-no-buttonnour" (click)="onAnswer('nour')">
    Nour ❤️
  </button>
  <button class="yes-no-buttonnour" (click)="onAnswer('fedi')">
    Fedi ❤️
  </button>
  <div *ngIf="videonour" >
    <video width="640" height="360" controls autoplay>
      <source src="assets/nour.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div *ngIf="videofedi" >
    <video width="640" height="360" controls autoplay>
      <source src="assets/fedi.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <button (click)="toggleHeartQuestion()" class="click-me">Click Me</button>
</div>

<div *ngIf="showHeartQuestion" class="heart-question">
  <h1 class="valentine-title">Do you love me?</h1>
<img src="assets/nour.jpg" >
  <br>
  <button (click)="buyHamburger()" class="yes-no-button">Yes</button>

  <button (click)="reset()" class="click-me">got back</button>
  <div *ngIf="showHamburgerMessage" class="hamburger-message">
    <h2><i class="fa fa-hamburger"></i> YEY Buy me a hamburger! Hihiih</h2>
  </div>
</div>
<div *ngIf="showHeartQuestion">
<button id="nooButton"class="dynamic-button"
        [style.left.px]="position.x"
        [style.top.px]="position.y"
        (mouseenter)="repositionButton()"
>
  No
</button></div>
<div *ngIf="showMessage" class="message">
  <p>{{ messageText }}</p>
</div>
